#ignore rules
/cache/*
!/cache/.gitkeep
#
/logs/*
!/logs/.gitkeep
#
/temp/*
!/temp/.gitkeep
#
/public/captcha/*
!/public/captcha/.gitkeep
#
/public/upload/*
!public/upload/.htaccess
!public/upload/images
/public/upload/images/*
!public/upload/images/.gitkeep
!public/upload/files
/public/upload/files/*
!public/upload/files/.gitkeep
!public/upload/files/temp
/public/upload/files/temp/*
!public/upload/files/temp/.gitkeep
!public/upload/avatars
/public/upload/avatars/*
!public/upload/avatars/user
/public/upload/avatars/user/*
!public/upload/avatars/user/default.jpg
!public/upload/avatars/user/mini
/public/upload/avatars/user/mini/*
!public/upload/avatars/user/mini/default.jpg
!public/upload/avatars/user/temp
/public/upload/avatars/user/temp/*
!public/upload/avatars/user/temp/.gitkeep
#
